@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,600;1,200&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

.headers {
  font-weight: 800;
}

.minor {
  font-weight: 400;
}

.words {
  font-weight: 300;
}

.types {
  font-weight: 600;
  font-style: italic;
}

.def {
  font-weight: 100;
}

.input {
  outline: none;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black;
}
