<div class="container text-center">
  <h1>ziktionary</h1>
  <h5>enter a word to search</h5>
</div>
<div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="row">
    <form #form="ngForm" (ngSubmit)="getDefinition(form.value)">
      <input type="text" ngModel name="word" />
      <button class="btn my-1" type="submit">
        <fa-icon [icon]="magnifyingGlass"></fa-icon>
      </button>
    </form>
  </div>
</div>
<div class="container mt-2">
  <div *ngIf="found" class="row">
    <div class="card shadow">
      <!-- THIS ISNT WORKING YET NEED TO FIGURE THIS OUT STILL -- NOT SOURCING THE RIGHT STUFF ITS LOOPING THE WRONG SHIT -->
      <h1>{{ data[0].word }} - [{{ data[0].phonetics[1].text }}]</h1>
      <div *ngFor="let item of data[0].meanings" class="row">
        <h1>{{ item.partOfSpeech }}</h1>
        <h1>{{ item.definitions.definition }}</h1>
        <h1>{{ item.definitions.example }}</h1>
      </div>
    </div>
  </div>
</div>
