<div class="container text-center mt-4">
  <h1 class="headers">ziktionary</h1>
  <h5 class="minors">enter a word to search</h5>
</div>
<div
  class="container d-flex justify-content-center align-items-center mt-3 mb-5"
>
  <div class="row">
    <form #form="ngForm" (ngSubmit)="getDefinition(form.value)">
      <input type="text" ngModel name="word" class="input"/>
      <button class="btn my-1" type="submit">
        <fa-icon [icon]="magnifyingGlass"></fa-icon>
      </button>
    </form>
  </div>
</div>
<div class="container mt-2">
  <div
    *ngIf="found"
    class="row d-flex justify-content-center align-items-center"
  >
    <div
      *ngFor="let stuff of data; let i = index"
      class="card shadow my-3 p-2 w-75"
    >
      <h1 class="headers">{{i+1}}) {{ data[i].word | titlecase}}</h1>
      <div *ngFor="let item of data[i].meanings" class="row">
        <h3 class="types">{{ item.partOfSpeech }}</h3>
        <h5 class="def">{{ item.definitions[0].definition }}</h5>
      </div>
    </div>
  </div>
</div>
